obsi-cl {
	--text-color: #fff;
	--background-color: #000;
	--border-color: var(--background-color);

	display: flex;
	border: 1px solid var(--border-color);
	font-size: 16px;
	height: 40vh;
	overflow: auto;
	background-color: var(--background-color);
	color: var(--text-color);

	.screen {
		display: flex;
		flex-direction: column;
		justify-content: end;
		min-height: min-content;
		width: 100%;
		padding: 4px;
	}

	.output {
		margin-top: auto;
	}

	form {
		position: relative;

		input {
			appearance: none;
			border: none;
			border-radius: 0;
			background: transparent;
			outline: none;
			padding: 0 0 0 0;
		}

		input[type='text'] {
			box-sizing: border-box;
			width: 100%;
			color: inherit;
			caret-color: currentColor;
		}

		input[type='submit'] {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}

	pre,
	input[type='text'] {
		font-family: monospace;
		font-size: 0.9rem;
		line-height: 17px;
		margin: 0;
	}

	pre.error {
		color: red;
	}

	pre.warning {
		color: yellow;
	}

	pre.success {
		color: greenyellow;
	}
}
