obsi-cli {
	--font-family: monospace;
	--font-size: 0.9rem;
	--line-height: 17px;
	--text-color: #fff;
	--text-color-error: red;
	--text-color-warning: yellow;
	--text-color-success: greenyellow;
	--text-color-info: cyan;
	--text-color-debug: blueviolet;
	--background-color: #000;
	--border-color: var(--background-color);

	display: flex;
	border: 1px solid var(--border-color);
	font-size: 16px;
	height: 40vh;
	overflow: auto;
	background-color: var(--background-color);
	color: var(--text-color);
	box-sizing: border-box;

	.screen {
		display: flex;
		flex-direction: column;
		justify-content: end;
		min-height: min-content;
		width: 100%;
		padding: 4px;
	}

	.output {
		margin-top: auto;
	}

	.input {
		display: block;
		appearance: none;
		border: none;
		border-radius: 0;
		background: transparent;
		outline: none;
		padding: 0 0 0 0;
		box-sizing: border-box;
		width: 100%;
		color: inherit;
		caret-color: currentColor;
		resize: none;
	}

	.output pre,
	.input {
		font-family: var(--font-family);
		font-size: var(--font-size);
		line-height: var(--line-height);
		margin: 0;
	}

	pre {
		white-space: break-spaces;
	}

	pre.error {
		color: var(--text-color-error);
	}

	pre.warning,
	pre.warn {
		color: var(--text-color-warning);
	}

	pre.success {
		color: var(--text-color-success);
	}

	pre.info {
		color: var(--text-color-info);
	}

	pre.debug {
		color: var(--text-color-debug);
	}
}
